Домашнее задание «Функции и работа с данными»
Преподаватель: Константин Башевой
**Домашнее задание к лекции.

Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [312]:
import pandas as pd
ratings = pd.read_csv('D:/DATA_SCIENCE/dataset/ml-latest-small/ratings.csv')

def class_rating(data):
    ''' Функция, которая принимает значение столбца rating и сравнивает его с оценкой 2, 4.0, 4.5 '''
    dict_ = {1:'низкий рейтинг', 2:'средний рейтинг', 3:'высокий рейтинг'}
    return dict_[1] if data <= 2 else dict_[2]  if 2 < data <= 4 else dict_[3]
  
ratings['class'] = ratings['rating'].apply(class_rating)
ratings.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [226]:
import pandas as pd
ratings = pd.read_csv('D:/DATA_SCIENCE/dataset/11_dz_pandas_function/keywords.csv', encoding='utf-8')

def region_func(data):
    geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
    }
    for k, v in geo_data.items():
        if v[0] in data.lower() or v[1] in data.lower() or v[2] in data.lower():
            return k
    return 'undefined'
       
ratings['region'] = ratings.keyword.apply(region_func)

# Проверяем рез-ты по каждой выборке
print(ratings[ratings['region'] == 'Центр'].head(), ) 
print(ratings[ratings['region'] == 'Северо-Запад'].head())
print(ratings[ratings['region'] == 'Дальний Восток'].head())

               keyword   shows region
127       авито москва  979292  Центр
849    авито ярославль  209581  Центр
1259            москва  153050  Центр
1396   гисметео москва  140279  Центр
1482  госуслуги москва  133061  Центр
                                                keyword   shows        region
370                            авито ру санкт петербург  425134  Северо-Запад
564                           погода в санкт петербурге  292489  Северо-Запад
1236                               банк санкт петербург  174375  Северо-Запад
1346                                    санкт петербург  144232  Северо-Запад
2121  электронный дневник санкт петербургского образ...   94835  Северо-Запад
                  keyword   shows          region
1063  фарпост владивосток  176951  Дальний Восток
2175       дром хабаровск   98361  Дальний Восток
3206     дром владивосток   73084  Дальний Восток
3275   100 сп владивосток   76418  Дальний Восток
3687      авито хабаровск   63736  Дальний Восток

Задание 3 (бонусное)
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’
Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [315]:
import pandas as pd
import re
ratings = pd.read_csv('D:/DATA_SCIENCE/dataset/ml-latest-small/ratings.csv')
movies = pd.read_csv('D:/DATA_SCIENCE/dataset/ml-latest-small/movies.csv')

def production_year(data):
    '''Эта функция выделяет год из строки с названием фильма в формате #### или ## и возвращает в формате #### или 1900'''
    year = " ".join(re.findall(r'\d+', data))
    if len(year) == 4:
        return int(year)
    elif len(year) == 2:
        return int('19' + year)
    else:
        return 1900
# Применяем функцию production_year к столбцу с названием фильма title
movies['year'] = movies.title.apply(production_year)

# В переменную year отбираем фильмы с 1950 по 2010 гг.
years = movies[(1950 <= movies.year) & (2010 >= movies.year)]

# Группируем фильмы по movieId находим среднее значение рейтинга каждого фильма
ratings = ratings.groupby('movieId').mean()['rating'].sort_values(ascending = False).reset_index()

# Объединяем только пересекающиеся результаты
ratings.merge(years, on = 'movieId', how = 'inner').head()

,movieId,rating,title,genres,year
0,3216,5.0,"Vampyros Lesbos (Vampiras, Las) (1971)",Fantasy|Horror|Thriller,1971
1,3202,5.0,Even Dwarfs Started Small (Auch Zwerge haben k...,Drama|Horror,1971
2,27792,5.0,"Saddest Music in the World, The (2003)",Comedy|Drama|Fantasy|Musical|Romance,2003
3,3165,5.0,Boiling Point (1993),Action|Drama,1993
4,27826,5.0,Touch of Pink (2004),Comedy|Drama|Romance,2004